

@model IEnumerable<Eshop.Models.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<nav class="navbar navbar-light bg-light justify-content-between mt-5">
    <a class="navbar-brand">Products</a>


    <form class="form-inline">

        <button class="btn btn-outline-success my-2 my-sm-0" asp-controller="Products" asp-action="Create" type="submit">Create</button>
    </form>


</nav>
<table class="table table-bordered border-primary">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Count)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Count)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <partial name="_TableEditPartial" model="item.ID" />

                </td>
            </tr>
        }
    </tbody>
</table>

