@using IdentityRole = Microsoft.AspNetCore.Identity.IdentityRole;
@model Eshop.ViewModels.ChangeRoleViewModel

<h2> @Model.UserEmail Foydalanuvchi ro'lini o'zgartirish</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" name="ID" value="@Model.ID" />
    <div class="form-group">
        @foreach (IdentityRole role in Model.AllRoles)
        {
            <input type="checkbox" name="roles" value="@role.Name"
                   @(Model.UserRoles.Contains(role.Name) ? "checked=\"checked\"" : "") />@role.Name <br />
            }
    </div>
    <button type="submit" class="btn btn-primary">Saqlash</button>
</form>